* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    height: auto;
    background: #111;
    color: white;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav {
    display: inline-block;
    background: #111;
    color: white;
    width: 6em;
    height: 3em;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
}

.nav:hover {
    background: #444;
}

card {
    width: 48.5%;
    height: 20em;
    margin: .5%;
    border: .2em solid #111;
    display: inline-block;
    transition: transform .2s;
}

card:hover {
    transform: translate(.3em, .3em);
    cursor: pointer;
}

block {
    height: 5em;
    background: #111;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    text-align: center;
    height: 10em;
    background: #111;
    color: white;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    margin-top: .5%;
}

@media only screen and (max-width: 900px) {
    card {
        width: 98%;
    }
}
