* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    height: auto;
    color: white;
    background: #111 url("images/background.jpeg");
    background-size: cover;
}

header h1, h4 {
    font-family: Zapfino, serif;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav {
    display: inline-block;
    background: #111;
    color: white;
    width: 6em;
    height: 3em;
    text-align: center;
    text-decoration: none;
    padding-top: 1em;
}

.nav:hover {
    background: #444;
}

card {
    width: 48.5%;
    height: 20em;
    margin: 2% .5% 2% .5%;
    border: .2em solid #111;
    display: inline-block;
    transition: transform .2s;
    background-size: cover;
    color: transparent;
    padding: 7em 7em 7em 7em;
    text-align: center;
}

card:hover {
    transform: translate(.3em, .3em);
    cursor: pointer;
}

card.active {
    color: white;
    background-color: black;
}

#uw {
    background-image: url("images/UW.jpg");
    box-shadow: rebeccapurple .4em .4em .4em;
}

#uw.active {
    background-image: none;
    background-color: black;
}

#wsu {
    background-image: url("images/WSU.jpg");
    box-shadow: crimson .4em .4em .4em;
}

#wsu.active {
    background-image: none;
    background-color: black;
}

#tokyo {
    background-image: url("images/tokyo.jpg");
    box-shadow: yellow .4em .4em .4em;
}

#tokyo.active {
    background-image: none;
    background-color: black;
}

#eagle {
    background-image: url("images/eagle.jpeg");
    box-shadow: darkblue .4em .4em .4em;
}

#eagle.active {
    background-image: none;
    background-color: black;
}

#software {
    background-image: url("images/software.jpeg");
    box-shadow: darkgreen .4em .4em .4em;
}

#software.active {
    background-image: none;
    background-color: black;
}

#karate {
    background-image: url("images/karate.jpg");
    box-shadow: saddlebrown .4em .4em .4em;
}

#karate.active {
    background-image: none;
    background-color: black;
}

#gallery {
    height: 24em;
    text-align: center;
    border-top: 3em solid #333;
    border-bottom: 3em solid #333;
    padding: 3em 0 3em 0;
}

.image {
    width: 12em;
    height: 12em;
    margin-right: 1em;
}

#left-arrow {
    width: 4em;
    height: 4em;
    margin-bottom: 4em;
    margin-right: 1em;
}

#left-arrow:hover {
    cursor: pointer;
}

#right-arrow {
    width: 4em;
    height: 4em;
    margin-bottom: 4em;
}

#right-arrow:hover {
    cursor: pointer;
}

footer {
    text-align: center;
    height: 7em;
    background: #111;
    color: white;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    padding: 2em;
}

@media only screen and (max-width: 900px) {
    card {
        width: 98%;
    }
}

@media only screen and (max-width: 1220px) {
    #image5 {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    #image4 {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    #image3 {
        display: none;
    }
}

@media only screen and (max-width: 580px) {
    #image2 {
        display: none;
    }
}
